html, body{
    height:100%; /* important to vertically align the container */
    width:100%;
    margin:0;
    padding:0;
}
form {
	margin-bottom: 20px;	
}
fieldset {
	margin-bottom: 10px;
}
#header {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.submenu1 {
	margin-left: 20px;
}
.container {
    min-width:1200px;
}

#sticky-sidebar {
	position:fixed;
	max-width: 20%;
}
