html, body{
    height:100%; /* important to vertically align the container */
    width:100%;
    margin:0;
    padding:0;
}
body{
	background-image: url("/images/backGround.jpg");
	background-repeat: repeat-y;
	background-repeat: repeat-x;
	    
}
.container {
    min-width:1200px;
}

#sticky-sidebar {
	position:fixed;
	max-width: 20%;
}
.btn-outline-success{
	 position:fixed;
   right:10px;
   top:5px;
}